<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/update_form.css">

</head>
<body>
    
</body>
</html>
<div class="container">  
  <form id="contact" action="/admin-home/add-button" method="post">
    <h3>Add player</h3>
    <h4>Enter the details of new Player : </h4>
    <fieldset>
      <input name="name" placeholder="Enter the Player name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input name="role" placeholder="Enter the Player Role" type="text" tabindex="2" required>
    </fieldset>
    <fieldset>
      <button type="submit" id="contact-submit" data-submit="...Sending">Add Player</button>
    </fieldset>
    {{!-- <p class="copyright">Designed by <a href="#" target="_blank" title="Colorlib" style="color:#cadcfc">Velaryonz</a></p> --}}
  </form>
</div>