<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login</title>
</head>
<link rel="stylesheet" type="text/css"href="stylesheets/admin_login.css">

<body>

  <div class="login-page">
    <div class="images">
      <img src="images/velaryonz_transparent_svg.svg" alt="Example Image" width="500" height="300">
    </div>

    <div class="subheading">
      <h2>Admin Login</h2>
    </div>
    
  <div class="form">
    {{!-- <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form> --}}
    <form class="login-form" action="/admin/submit-login" method="post">
      <input type="text" name="username" id="username" placeholder="username"/>
      <input type="password" name="password" id="password" placeholder="password"/>
      <button type="submit">login</button>
      <p class="message">Velaryonz Sports Club</p>
    </form>
  </div>
</div>
</body>
</html>
