<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" type="text/css"href="stylesheets/welcome.css">


<body>
    
</body>
</html>
<div class="center">
    <div class="images">
        <img src="images/velaryonz_transparent_svg.svg" alt="Example Image" width="500" height="300">

    </div>
    <h1>WELCOME</h1>
    <br>
    <br>
    <div class="buttons-container">
    <a href="#"><div class="btn">USER</div></a>
    <a href="/admin"><div class="btn">ADMIN</div></a>
     </div>
  </div>