<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/user_home.css">
    <title>Velaryonz Sports Club</title>
</head>
<body>
    <div class="header">
        <img src="images/velaryonz_transparent_svg.svg" alt="Velaryonz Sports Club Logo">
        <h1>Velaryonz Sports Club</h1>
    </div>

    <div class="details">
        <br><br><br>
        <p><h3>No. of Teams: {{teamCount}}</h3></p>
        <p><h3>No. of Players: {{playerCount}}</h3></p>
    </div>

    <h2 class="section-headline">Teams</h2>
    <div class="card-container">
        {{#each teamData}}
        <form action="/home/team" method="POST">
        <input type="hidden" name="id" value="this.team_id">
        <button>
        <div class="card team-card">{{this.team_name}}</div>
        </button>
        </form>
        {{/each}}
    </div>
</body>
</html>

