html {
  background-color: #00246b;
}

body {
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 850px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images {
  padding-top: 5%;
  
  padding-left: 1%;
  
}

h1 {
  line-height: .95;
  color: #cadcfc;
  font-weight: 900;
  font-size: 150px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  text-align: center;
  margin: 40px 0;
}

.buttons-container {
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }


.btn {
  margin: 0 auto;
  width: 170px;
  height: 60px;
  padding: 6px 0 0 3px;
  border: 2px solid #cadcfc;
  border-radius: 2px;
  background: #cadcfc;
  font-size: 16px;
  line-height: 54px;
  color: #000000;
  letter-spacing: .25em;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: background .4s, color .4s;
  transition: background .4s, color .4s;
  cursor: pointer;
  
  
}

.btn:hover {
  background: #00246b;
  color: #ffffff;
}

a {
  text-decoration: none;
}